{{!-- <li> --}}
    {{!-- {{name}} --}}

    {{!-- <div class="burger-name">{{burger_name}} --}}
        {{!-- <button class="change-devoured btn btn-xs btn-danger m-0 p-0" data-id="{{id}}" data-newdevoured="{{devoured}}"> --}}
            {{!-- {{#if devoured}}Devour!{{else}}Order again!{{/if}} --}}
        {{!-- </button> --}}
    {{!-- </div> --}}

    {{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
{{!-- </li> --}}